<a href="https://colab.research.google.com/github/Ariely13/Tugas/blob/main/ArilMuhammadNurham_241061012_Tugas__1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA PENJUALAN COKLAT
## Data ini Diambil dari Kaggle

In [24]:
import pandas as pd
import json

df = pd.read_csv('/content/Chocolate Sales (2).csv')

In [25]:
df.head()
# Menampilkan 5 Data Teratas yang ada dalam CSV

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [26]:
df.info()
# RangeIndex: 3282 entries: Menunjukkan total baris data, yaitu 3.282 baris (indeks 0 sampai 3281).
# Data columns (total 6 columns): Terdapat 6 kolom informasi dalam tabel ini.
# Non-Null Count artinya tidak ada data yang hilang (missing values)
# Dtypes terdapat object dan integer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   object
 4   Amount         3282 non-null   object
 5   Boxes Shipped  3282 non-null   int64
dtypes: int64(1), object(5)
memory usage: 154.0+ KB

In [27]:
#df.shape
# Dengan menggunakan metode ini kita bisa mengetahui jumlah baris dan kolom.
# Jumlah Baris Sekitar 3282
# Jumlah Kolom Sekitar 6

In [28]:
# 1. Membuat data JSON manual (format List of Dictionaries)
data_json = """
[
  {"id_produk": 101, "nama_barang": "Laptop Asus", "kategori": "Elektronik", "stok": 15, "harga": 8500000},
  {"id_produk": 102, "nama_barang": "Mouse Wireless", "kategori": "Aksesoris", "stok": 50, "harga": 150000},
  {"id_produk": 103, "nama_barang": "Monitor LED 24", "kategori": "Elektronik", "stok": 8, "harga": 2100000},
  {"id_produk": 104, "nama_barang": "Keyboard RGB", "kategori": "Aksesoris", "stok": 25, "harga": 450000},
  {"id_produk": 105, "nama_barang": "Webcam HD", "kategori": "Elektronik", "stok": 12, "harga": 600000}
]
"""

# Mengonversi string JSON menjadi objek Python
data_csv = json.loads(data_json)

In [29]:
# 2. Mengonversi ke Pandas DataFrame
df = pd.DataFrame(data_csv)

# Menampilkan 5 data teratas (Dataset)
df.head()

   id_produk     nama_barang    kategori  stok    harga
0        101     Laptop Asus  Elektronik    15  8500000
1        102  Mouse Wireless   Aksesoris    50   150000
2        103  Monitor LED 24  Elektronik     8  2100000
3        104    Keyboard RGB   Aksesoris    25   450000
4        105       Webcam HD  Elektronik    12   600000

In [30]:
# 3. Mengonversi DataFrame ke file CSV
df.to_csv('data_inventaris.csv', index=False)
#"File 'data_inventaris.csv' telah berhasil dibuat di folder Colab